/* CSS Document */

BODY {
	color: black;
	padding: 0px;
	margin: 0px;
	background-image : url(../images/bg.gif);
	background-color : #222244;
}

.body {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
	text-decoration : none;
}

.name{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
	text-decoration : none;
	padding-left : 5px;
	text-transform : capitalize;
}

table {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
	text-decoration : none;
	vertical-align : top;
}

.newstitle{
	color: #FFFFFF;
	text-align : left;
	padding : 4px;
	font-size : 16px;
	font-weight : bold;
	font-variant : small-caps;
	font-style : normal;
}

.newsdate{
	color: #FFFFFF;
	text-align : right;
	padding : 4px;
	font-size : 10px;
	font-weight : bold;
	font-style : normal;
}

.newstext{
	color: #111111;
	text-align : left;
	padding : 4px 10px;
	font-size : 12px;
	font-style : normal;
}

.weather{
	color: #111111;
	text-align : left;
	padding : 4px 4px 4px 10px;
	font-size : 12px;
	font-style : normal;
}

H1 {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 20px;
	color : #111111;
	text-align : left;
}

H2 {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 18px;
	color : #111111;
	text-align : left;
}

A {
	text-decoration: none;
	color: Navy;
	text-decoration: underline;
}

A:hover {
	text-decoration: none;
	background-color: #F8C200;
	font-weight: normal;
}

.button-menu {
	color: #EEEEEE;
	border : 1px solid #EEEEEE;
	font-weight : bold;
	background-color : #778A9C;
	margin-top : 6px;
	margin-right: 0px;
	margin-left: 1px;
	margin-bottom: 0px;
	padding-left: 2px;
}

.textfield {
	color: #EEEEEE;
	background-color: #778A9C;
	font-weight : bold;
	border : 1px solid #EEEEEE;
	margin-top : 6px;
	margin-right: 0px;
	margin-left: 1px;
	margin-bottom: 0px;
}